.navbar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: left;
  background: rgb(106,45,147);
  background: linear-gradient(180deg, rgba(106,45,147,1) 0%, rgba(141,52,172,1) 50%, rgba(129,44,154,1) 100%);
  padding: 0 300px 0 300px;
}

a {
  margin: 20px 40px 20px 40px;
  color: #fff;
  font-size: larger;
  font-weight: bold;
}



.brand {
  margin-top: 20px;
  margin-right: 300px;
  font-size: x-large;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}
